<!DOCTYPE html>
<html>
<head>
    <style>
    body{
        background-color: rgb(165, 180, 228);
    }
    h1{
        color: rgb(33, 0, 182);
        font-family: fantasy;
        font-size: 300%;
    }
     


    </style>
    <title>HCT Contact Form</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" required></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>